Code/Node-red.txt
[{"id":"d5c9a29.81fa0e","type":"tab","label":"LED CONTROL","disabled":false,"info":""},{"id":"d63fa864.8860f8","type":"tab","label":"BELL CONTROL","disabled":false,"info":""},{"id":"4a541ba.49490e4","type":"tab","label":"DHT11","disabled":false,"info":""},{"id":"cb92d994.94ea08","type":"tab","label":"ORTHER FEATURES","disabled":true,"info":""},{"id":"379c1281.a3d71e","type":"mqtt-broker","z":"d63fa864.8860f8","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c7cab9f5.f6e718","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#3dd3d3","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#3dd3d3","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#7be1e1","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#3dd3d3","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"439b6def.c82914","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","order":1},{"id":"306a5622.3af0da","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"6b837a78.4a0024","type":"ui_group","z":"","name":"Home2","tab":"","disp":true,"width":"6"},{"id":"69e6a9cf.3b7e18","type":"mqtt-broker","z":"d5c9a29.81fa0e","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"msg.payload","birthTopic":"esp8266/humidity","birthQos":"0","birthPayload":""},{"id":"663714d5.81b88c","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"f0528bf8.0bb148","type":"ui_group","z":"","name":"Home4","tab":"","order":3,"disp":true,"width":"6"},{"id":"277c1fec.ee63a","type":"ui_tab","z":"","name":"DHT11","icon":"dashboard","order":3},{"id":"c2488dc6.cfc43","type":"ui_group","z":"","name":"Monitor 1","tab":"277c1fec.ee63a","order":2,"disp":false,"width":"6"},{"id":"3033c10.d30094","type":"ui_group","z":"","name":"Monitor 1","tab":"","order":2,"disp":false,"width":"10"},{"id":"56e66597.f1534c","type":"ui_group","z":"","name":"Monitor 2","tab":"277c1fec.ee63a","order":3,"disp":false,"width":"6"},{"id":"8939c4e9.48e3d8","type":"ui_group","z":"","name":"Monitor 2","tab":"","order":3,"disp":false,"width":"10"},{"id":"b90d54df.e695f8","type":"ui_group","z":"","name":"Header","tab":"277c1fec.ee63a","order":1,"disp":true,"width":"6"},{"id":"b889860c.f3b9d8","type":"ui_group","z":"","name":"State move","tab":"","order":1,"disp":true,"width":"6"},{"id":"2cd6f44.adf650c","type":"ui_group","z":"","name":"Motion Sensor","tab":"439b6def.c82914","order":2,"disp":true,"width":"6"},{"id":"bffbd40b.88a428","type":"ui_group","z":"","name":"Fire sensor","tab":"439b6def.c82914","order":3,"disp":true,"width":"6"},{"id":"1c54bf88.dad8f","type":"twilioConfig","z":"","name":"twilioConfig"},{"id":"25578e3a.4bcf32","type":"ui_group","z":"","name":"Bell Status","tab":"439b6def.c82914","order":5,"disp":true,"width":"6"},{"id":"c8daff51.d9fd5","type":"ui_tab","z":"","name":"Control Leds","icon":"dashboard","order":2},{"id":"3c22b548.b1725a","type":"ui_group","z":"","name":"Control Led","tab":"c8daff51.d9fd5","order":1,"disp":true,"width":"6"},{"id":"52d62cc9.bbf314","type":"sqlitedb","z":"","db":"/home/haibui/sqliteDB"},{"id":"1c58300e.a1b9e","type":"ui_tab","z":"","name":"Setting","icon":"dashboard","order":6},{"id":"2f5db854.c9b558","type":"ui_group","z":"","name":"Led flicker","tab":"1c58300e.a1b9e","order":1,"disp":false,"width":"6"},{"id":"68355958.c11e68","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3e2eeab7.aa30e6","type":"mqtt-broker","z":"","broker":"100.100.11.115","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1075df48.542bb1","type":"ui_group","z":"","name":"Control Led","tab":"","order":1,"disp":true,"width":"6"},{"id":"a0863b3a.089e78","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"9b87a25e.49b78","type":"ui_group","z":"","name":"Home2","tab":"","disp":true,"width":"6"},{"id":"ecccd810.d1fdc8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"msg.payload","birthTopic":"esp8266/humidity","birthQos":"0","birthPayload":""},{"id":"db5b56e1.3049c8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"c1f6a0ac.5654c","type":"ui_group","z":"","name":"Home4","tab":"","order":3,"disp":true,"width":"6"},{"id":"34087761.654278","type":"ui_group","z":"","name":"Monitor 1","tab":"","order":2,"disp":false,"width":"10"},{"id":"adc610b4.ca078","type":"ui_group","z":"","name":"Monitor 1","tab":"","order":2,"disp":false,"width":"10"},{"id":"5430214d.06fe2","type":"ui_group","z":"","name":"Monitor 2","tab":"","order":3,"disp":true,"width":"10"},{"id":"8cd5ffd0.61e09","type":"ui_group","z":"","name":"Monitor 2","tab":"","order":3,"disp":false,"width":"10"},{"id":"cb46a31d.bd51d","type":"ui_group","z":"","name":"Header","tab":"","order":1,"disp":true,"width":"20"},{"id":"58343443.fad91c","type":"ui_group","z":"","name":"Header","tab":"","order":1,"disp":true,"width":"20"},{"id":"d6bc20ca.add49","type":"ui_group","z":"","name":"State move","tab":"","order":1,"disp":true,"width":"6"},{"id":"969d2a24.f9ad78","type":"ui_group","z":"","name":"Moditon Sensor","tab":"","order":3,"disp":true,"width":"6"},{"id":"35e8e6e6.fea5ba","type":"ui_group","z":"","name":"Fire detector sensor","tab":"","order":4,"disp":true,"width":"6"},{"id":"e8863a51.7587d8","type":"ui_group","z":"","name":"Led Status","tab":"","order":2,"disp":true,"width":"12"},{"id":"7b3f929a.05760c","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"93f14807.18e2f8","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"832566e5.fafd68","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"f0cfe82e.43b2f8","type":"ui_group","z":"","name":"Home2","tab":"","disp":true,"width":"6"},{"id":"6fc7a20d.00dfdc","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"msg.payload","birthTopic":"esp8266/humidity","birthQos":"0","birthPayload":""},{"id":"dfac18c4.132548","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"a352eeed.4a29d","type":"ui_group","z":"","name":"Home4","tab":"","order":3,"disp":true,"width":"6"},{"id":"8efa9ec4.1a416","type":"ui_group","z":"","name":"Monitor 1","tab":"","order":2,"disp":false,"width":"6"},{"id":"63f89671.366c98","type":"ui_group","z":"","name":"Monitor 1","tab":"","order":2,"disp":false,"width":"6"},{"id":"8158f8c6.77cbf8","type":"ui_group","z":"","name":"Monitor 2","tab":"","order":3,"disp":true,"width":"6"},{"id":"d419348a.928418","type":"ui_group","z":"","name":"Monitor 2","tab":"","order":3,"disp":false,"width":"6"},{"id":"6467409e.011e4","type":"ui_group","z":"","name":"Header","tab":"","order":1,"disp":true,"width":"6"},{"id":"9d26e1ee.3856d","type":"ui_group","z":"","name":"Header","tab":"","order":1,"disp":true,"width":"6"},{"id":"1f8747d4.0dc898","type":"ui_group","z":"","name":"State move","tab":"","order":1,"disp":true,"width":"6"},{"id":"2e6a3d34.a695e2","type":"ui_group","z":"","name":"Moditon Sensor","tab":"","order":2,"disp":true,"width":"6"},{"id":"b5c4653a.a91838","type":"ui_group","z":"","name":"Fire detector sensor","tab":"","order":3,"disp":true,"width":"6"},{"id":"f80b6502.90fd98","type":"ui_group","z":"","name":"Speaker Status","tab":"","order":5,"disp":true,"width":"6"},{"id":"d2828e16.77a7f","type":"ui_group","z":"","name":"Control Led","tab":"","order":1,"disp":true,"width":"6"},{"id":"eb865ff1.c03e7","type":"ui_group","z":"","name":"Temperature & Humidity","tab":"","order":1,"disp":true,"width":"6"},{"id":"14254e19.657282","type":"sqlitedb","z":"4a541ba.49490e4","db":"/home/haibui/SQLiteDB/Humi"},{"id":"b7305949.638a48","type":"sqlitedb","db":"test.sqlite"},{"id":"55bd8c5a.5fe5c4","type":"sqlitedb","z":"","db":"chcontroller.db"},{"id":"577a6d2c.3df564","type":"ui_group","z":"","name":"table","tab":"","disp":true,"width":"6"},{"id":"ffd30ea2.1ddea","type":"ui_group","z":"","name":"DHT11 Realtime","tab":"277c1fec.ee63a","order":5,"disp":true,"width":"7"},{"id":"18ec3ef1.1d3ae1","type":"ui_group","z":"","name":"table","tab":"","disp":true,"width":"6"},{"id":"82d114a9.3016a8","type":"sqlitedb","z":"","db":"/home/haibui/SQLiteDB/Temp"},{"id":"1c01374f.6b4449","type":"ui_group","z":"","name":"DHT Status","tab":"439b6def.c82914","order":4,"disp":true,"width":"6"},{"id":"d2b349a8.44c1f8","type":"mqtt in","z":"d5c9a29.81fa0e","name":"","topic":"ledState","qos":"1","broker":"69e6a9cf.3b7e18","x":120,"y":140,"wires":[["bb0369c.3b4ef98","ac400af1.f713a8"]]},{"id":"bb0369c.3b4ef98","type":"ui_text","z":"d5c9a29.81fa0e","group":"3c22b548.b1725a","order":0,"width":0,"height":0,"name":"Led State","label":"STATE : ","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":140,"wires":[]},{"id":"703fd0ae.b455b","type":"mqtt out","z":"d5c9a29.81fa0e","name":"","topic":"ledControl","qos":"1","retain":"","broker":"69e6a9cf.3b7e18","x":830,"y":640,"wires":[]},{"id":"705bd47e.2b527c","type":"ui_switch","z":"d5c9a29.81fa0e","name":"Led living room","label":"Led living room","group":"3c22b548.b1725a","order":0,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"L","onvalueType":"str","onicon":"","oncolor":"","offvalue":"l","offvalueType":"str","officon":"","offcolor":"","x":360,"y":260,"wires":[["703fd0ae.b455b","ac400af1.f713a8"]]},{"id":"8922848c.bf90c8","type":"ui_switch","z":"d5c9a29.81fa0e","name":"Led bed room 1","label":"Led bed room 1","group":"3c22b548.b1725a","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"B","onvalueType":"str","onicon":"","oncolor":"","offvalue":"b","offvalueType":"str","officon":"","offcolor":"","x":360,"y":360,"wires":[["703fd0ae.b455b","ac400af1.f713a8"]]},{"id":"14db14df.377ddb","type":"ui_switch","z":"d5c9a29.81fa0e","name":"Led bed room 2","label":"Led bed room 2","group":"3c22b548.b1725a","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"S","onvalueType":"str","onicon":"","oncolor":"","offvalue":"s","offvalueType":"str","officon":"","offcolor":"","x":360,"y":460,"wires":[["703fd0ae.b455b","ac400af1.f713a8"]]},{"id":"426a7e4e.a5729","type":"ui_switch","z":"d5c9a29.81fa0e","name":"Led kitchen","label":"Led kitchen","group":"3c22b548.b1725a","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"K","onvalueType":"str","onicon":"","oncolor":"","offvalue":"k","offvalueType":"str","officon":"","offcolor":"","x":350,"y":560,"wires":[["703fd0ae.b455b","ac400af1.f713a8"]]},{"id":"492a4dcf.9b9f24","type":"ui_switch","z":"d5c9a29.81fa0e","name":"Led bathroom","label":"Led bathroom","group":"3c22b548.b1725a","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"H","onvalueType":"str","onicon":"","oncolor":"","offvalue":"h","offvalueType":"str","officon":"","offcolor":"","x":360,"y":660,"wires":[["703fd0ae.b455b","ac400af1.f713a8"]]},{"id":"ac400af1.f713a8","type":"debug","z":"d5c9a29.81fa0e","name":"","active":true,"console":"false","complete":"false","x":830,"y":540,"wires":[]},{"id":"212d1d5a.494902","type":"ui_switch","z":"d5c9a29.81fa0e","name":"","label":"All","group":"3c22b548.b1725a","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"A","onvalueType":"str","onicon":"","oncolor":"","offvalue":"a","offvalueType":"str","officon":"","offcolor":"","x":110,"y":680,"wires":[["703fd0ae.b455b","ac400af1.f713a8","705bd47e.2b527c","8922848c.bf90c8","14db14df.377ddb","426a7e4e.a5729","492a4dcf.9b9f24"]]},{"id":"f1784bee.4b1338","type":"debug","z":"d63fa864.8860f8","name":"","active":true,"console":"false","complete":"false","x":650,"y":380,"wires":[]},{"id":"5839cb01.a5cb74","type":"mqtt in","z":"d63fa864.8860f8","name":"","topic":"moveState","qos":"1","broker":"379c1281.a3d71e","x":160,"y":500,"wires":[["f1784bee.4b1338","9e4c0f96.02d9e","f97ecab6.603eb8"]]},{"id":"9e4c0f96.02d9e","type":"ui_text","z":"d63fa864.8860f8","group":"2cd6f44.adf650c","order":2,"width":0,"height":0,"name":"state","label":"STATE : ","format":"{{msg.payload}}","layout":"row-spread","x":648.8572158813477,"y":432.071439743042,"wires":[]},{"id":"2d69b1b3.baf8ee","type":"mqtt in","z":"d63fa864.8860f8","name":"","topic":"fireState","qos":"1","broker":"379c1281.a3d71e","x":151.85721588134766,"y":591.0714359283447,"wires":[["5e859798.a8f4e8","2319c576.88e48a","f1784bee.4b1338"]]},{"id":"5e859798.a8f4e8","type":"ui_text","z":"d63fa864.8860f8","group":"bffbd40b.88a428","order":0,"width":0,"height":0,"name":"state","label":"STATE : ","format":"{{msg.payload}}","layout":"row-spread","x":623.857250213623,"y":639.0715866088867,"wires":[]},{"id":"4857632c.d5231c","type":"e-mail","z":"d63fa864.8860f8","server":"smtp.gmail.com","port":"465","secure":true,"name":"stony2207@gmail.com","dname":"Send Email","x":947.8573684692383,"y":499.7857971191406,"wires":[]},{"id":"2319c576.88e48a","type":"function","z":"d63fa864.8860f8","name":"Check payload","func":"if(msg.payload == \"Warning have fire!!!\"){\n    msg.payload = \"Warning have fire in your home!!!\\nBe careful !!!\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":660,"y":580,"wires":[[]]},{"id":"f97ecab6.603eb8","type":"function","z":"d63fa864.8860f8","name":"Check payload","func":"if(msg.payload == \"Warning have moving!!!\"){\n    msg.payload = \"Warning have moving in your home!!!\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":654.8572082519531,"y":502.07147789001465,"wires":[[]]},{"id":"ad2b862e.4c52d8","type":"sms","z":"d63fa864.8860f8","name":"Send SMS","message":"","numbers":"+841662301227","throttle":"10","twilio":"1c54bf88.dad8f","x":950,"y":580,"wires":[[]]},{"id":"9da315c9.d02d98","type":"ui_button","z":"d63fa864.8860f8","name":"Turn off Speaker","group":"25578e3a.4bcf32","order":3,"width":0,"height":0,"passthru":false,"label":"Turn off Spearker","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":220,"y":120,"wires":[["4bd6caa4.210044","e7b04625.d3d278"]]},{"id":"4bd6caa4.210044","type":"mqtt out","z":"d63fa864.8860f8","name":"","topic":"turnoffSpeaker","qos":"1","retain":"","broker":"379c1281.a3d71e","x":660,"y":120,"wires":[]},{"id":"e9bcb36a.fe704","type":"ui_text","z":"d63fa864.8860f8","group":"25578e3a.4bcf32","order":2,"width":0,"height":0,"name":"Speaker status","label":"STATE : ","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":180,"wires":[]},{"id":"e1bd9788.2d1ed8","type":"mqtt in","z":"d63fa864.8860f8","name":"","topic":"speakerState","qos":"1","broker":"379c1281.a3d71e","x":210,"y":200,"wires":[["e9bcb36a.fe704","e7b04625.d3d278"]]},{"id":"e7b04625.d3d278","type":"debug","z":"d63fa864.8860f8","name":"","active":true,"console":"false","complete":"false","x":670,"y":220,"wires":[]},{"id":"e7fb2059.8641a","type":"ui_switch","z":"d63fa864.8860f8","name":"","label":"Enable Motion Sensor","group":"2cd6f44.adf650c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","x":240,"y":60,"wires":[["643a153e.da584c"]]},{"id":"643a153e.da584c","type":"mqtt out","z":"d63fa864.8860f8","name":"","topic":"turnonMotionSensor","qos":"1","retain":"","broker":"379c1281.a3d71e","x":682.8333435058594,"y":60.333335876464844,"wires":[]},{"id":"378c57d2.7ca568","type":"mqtt out","z":"cb92d994.94ea08","name":"","topic":"ledFlicker","qos":"1","retain":"","broker":"68355958.c11e68","x":620,"y":200,"wires":[]},{"id":"eeae9130.5b836","type":"ui_switch","z":"cb92d994.94ea08","name":"","label":"Led flicker","group":"2f5db854.c9b558","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":210,"y":200,"wires":[["378c57d2.7ca568"]]},{"id":"a072e49d.6e25b8","type":"mqtt in","z":"4a541ba.49490e4","name":"Listen Temp from ESP8266 via MQTT Broke","topic":"DHT11Temp","qos":"1","broker":"68355958.c11e68","x":230,"y":80,"wires":[["ae7d8683.a50a88","4cf7f617.2f9948","5fbf19d8.0b1e98","4aff1a56.874534","8c0a6cb.1b3fa9"]]},{"id":"f543d4de.4084a8","type":"mqtt in","z":"4a541ba.49490e4","name":"Listen Hum from ESP8266 via MQTT Broke","topic":"DHT11Hum","qos":"1","broker":"68355958.c11e68","x":200,"y":700,"wires":[["38be1e96.6b08e2","b1813c2.86e5dc","9f954ad.8ae2db8","5d292526.31d30c","8d735de5.4cac9"]]},{"id":"9f954ad.8ae2db8","type":"ui_chart","z":"4a541ba.49490e4","name":"Line chart Hum ","group":"c2488dc6.cfc43","order":2,"width":"0","height":"0","label":"Line chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"120","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":720,"wires":[[],[]]},{"id":"5d292526.31d30c","type":"ui_gauge","z":"4a541ba.49490e4","name":"Gauge chart Hum","group":"56e66597.f1534c","order":3,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":579,"y":770,"wires":[]},{"id":"5fbf19d8.0b1e98","type":"ui_chart","z":"4a541ba.49490e4","name":"Line chart Temp ","group":"c2488dc6.cfc43","order":1,"width":"0","height":"0","label":"Line chart ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":560,"y":120,"wires":[[],[]]},{"id":"4aff1a56.874534","type":"ui_gauge","z":"4a541ba.49490e4","name":"Gauge chart Temp ","group":"56e66597.f1534c","order":2,"width":"0","height":"0","gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":180,"wires":[]},{"id":"b1813c2.86e5dc","type":"ui_text","z":"4a541ba.49490e4","group":"b90d54df.e695f8","order":2,"width":"0","height":"0","name":"Humidity ","label":"Humidity :","format":"{{msg.payload}}","layout":"row-center","x":550,"y":680,"wires":[]},{"id":"38be1e96.6b08e2","type":"debug","z":"4a541ba.49490e4","name":"","active":true,"console":"false","complete":"payload","x":570,"y":640,"wires":[]},{"id":"4cf7f617.2f9948","type":"ui_text","z":"4a541ba.49490e4","group":"b90d54df.e695f8","order":1,"width":"0","height":"0","name":"Temperature","label":"Temperature : ","format":"{{msg.payload}}","layout":"row-center","x":550,"y":80,"wires":[]},{"id":"ae7d8683.a50a88","type":"debug","z":"4a541ba.49490e4","name":"","active":true,"console":"false","complete":"payload","x":550,"y":40,"wires":[]},{"id":"cdf0007f.4dcfb","type":"debug","z":"4a541ba.49490e4","name":"","active":true,"console":"false","complete":"false","x":1030,"y":380,"wires":[]},{"id":"b9cf4976.0324a8","type":"inject","z":"4a541ba.49490e4","name":"create table temperature","topic":"CREATE TABLE TEMP( TEMPERATURE TEXT NOT NULL)","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":550,"y":220,"wires":[["79460b71.ca8b74"]]},{"id":"1205a8ca.4a19f7","type":"debug","z":"4a541ba.49490e4","name":"","active":true,"console":"false","complete":"false","x":1290,"y":380,"wires":[]},{"id":"8c0a6cb.1b3fa9","type":"function","z":"4a541ba.49490e4","name":"insert temp","func":"var newMsg = {\n \"topic\": \"INSERT INTO TEMP (TEMPERATURE) VALUES (\" + msg.payload + \")\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["79460b71.ca8b74","cdf0007f.4dcfb"]]},{"id":"85c5b32.b3c565","type":"inject","z":"4a541ba.49490e4","name":"view Humi","topic":"SELECT * FROM HUMI DESC;","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":510,"y":520,"wires":[["7b48d23a.f40a7c"]]},{"id":"cf95ad8c.fe7fe","type":"ui_template","z":"4a541ba.49490e4","group":"ffd30ea2.1ddea","name":"Humi table","order":2,"width":"2","height":"8","format":"<table style=\"width:100%\">\n  <tr>\n    <th>Humi</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:15\">\n    <td style=\"text-align:center\">{{msg.payload[$index].HUMIDITY}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1270,"y":520,"wires":[[]]},{"id":"79460b71.ca8b74","type":"sqlite","z":"4a541ba.49490e4","mydb":"82d114a9.3016a8","name":"","x":1010,"y":220,"wires":[["1205a8ca.4a19f7"]]},{"id":"7b48d23a.f40a7c","type":"sqlite","z":"4a541ba.49490e4","mydb":"14254e19.657282","name":"","x":970,"y":520,"wires":[["cf95ad8c.fe7fe","1205a8ca.4a19f7"]]},{"id":"8d735de5.4cac9","type":"function","z":"4a541ba.49490e4","name":"insert humi","func":"var newMsg = {\n \"topic\": \"INSERT INTO HUMI (HUMIDITY) VALUES ( \" + msg.payload + \")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":420,"wires":[["cdf0007f.4dcfb","a3619fe5.baee3"]]},{"id":"c70df5cc.1d3cc8","type":"inject","z":"4a541ba.49490e4","name":"create table humidity","topic":"CREATE TABLE HUMI ( HUMIDITY TEXT NOT NULL)","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":540,"y":280,"wires":[["a3619fe5.baee3"]]},{"id":"a3619fe5.baee3","type":"sqlite","z":"4a541ba.49490e4","mydb":"14254e19.657282","name":"","x":1010,"y":280,"wires":[["1205a8ca.4a19f7"]]},{"id":"23623c44.e61b14","type":"sqlite","z":"4a541ba.49490e4","mydb":"82d114a9.3016a8","name":"","x":970,"y":460,"wires":[["8d85cb3f.f91628","1205a8ca.4a19f7"]]},{"id":"9ff5cad.6af0338","type":"inject","z":"4a541ba.49490e4","name":"view Temp","topic":"SELECT * FROM TEMP DESC;","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":510,"y":480,"wires":[["23623c44.e61b14"]]},{"id":"8d85cb3f.f91628","type":"ui_template","z":"4a541ba.49490e4","group":"ffd30ea2.1ddea","name":"Temp table","order":1,"width":"5","height":"8","format":"<table style=\"width:100%\">\n  <tr>\n    <th>Index</th> \n    <th>Temp</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:15\">\n    <td style=\"text-align:center\">{{$index}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TEMPERATURE}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1270,"y":460,"wires":[[]]},{"id":"8eb3b780.f0ae18","type":"mqtt in","z":"4a541ba.49490e4","name":"DHT11 State","topic":"DHT11State","qos":"1","broker":"68355958.c11e68","x":161.99999999999997,"y":855.9999999999998,"wires":[["cae3f06.1816c1","2b33d3d9.2012dc"]]},{"id":"cae3f06.1816c1","type":"ui_text","z":"4a541ba.49490e4","group":"b90d54df.e695f8","order":3,"width":0,"height":0,"name":"State ","label":"DHT11 STATE : ","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":860,"wires":[]},{"id":"2b33d3d9.2012dc","type":"debug","z":"4a541ba.49490e4","name":"","active":true,"console":"false","complete":"false","x":650,"y":920,"wires":[]},{"id":"e2289994.d3bab8","type":"mqtt in","z":"d63fa864.8860f8","name":"DHT11 State","topic":"DHT11State","qos":"1","broker":"68355958.c11e68","x":170,"y":740,"wires":[["5ed1e701.0ecda8","f636c8fa.e79208"]]},{"id":"5ed1e701.0ecda8","type":"ui_text","z":"d63fa864.8860f8","group":"1c01374f.6b4449","order":3,"width":0,"height":0,"name":"State ","label":"STATE : ","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":720,"wires":[]},{"id":"f636c8fa.e79208","type":"debug","z":"d63fa864.8860f8","name":"","active":true,"console":"false","complete":"false","x":610,"y":780,"wires":[]},{"id":"9402f8de.64f178","type":"ui_button","z":"4a541ba.49490e4","name":"Turn off Speaker","group":"b90d54df.e695f8","order":5,"width":0,"height":0,"passthru":false,"label":"Turn off Spearker","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":180,"y":1000,"wires":[["95378395.8f641","e96129d9.ffcd88"]]},{"id":"95378395.8f641","type":"mqtt out","z":"4a541ba.49490e4","name":"","topic":"turnoffSpeaker","qos":"1","retain":"","broker":"379c1281.a3d71e","x":620,"y":1000,"wires":[]},{"id":"41e65d7f.9cd464","type":"ui_text","z":"4a541ba.49490e4","group":"b90d54df.e695f8","order":4,"width":0,"height":0,"name":"Speaker status","label":"BELL STATE : ","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":1060,"wires":[]},{"id":"1da3c90e.5a77e7","type":"mqtt in","z":"4a541ba.49490e4","name":"","topic":"speakerState","qos":"1","broker":"379c1281.a3d71e","x":170,"y":1080,"wires":[["41e65d7f.9cd464","e96129d9.ffcd88"]]},{"id":"e96129d9.ffcd88","type":"debug","z":"4a541ba.49490e4","name":"","active":true,"console":"false","complete":"false","x":630,"y":1100,"wires":[]}]